body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#calculator-container{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 25%;
}

#output-container{
    display: flex;
    align-items: center;
    text-align: right;
    background-color: #2B2D42;
    flex: 1;
}

#output-text{
    flex: 1;
    margin: 1em 0.5em;
    font-size: 2.75em;
    color: #EDF2F4;
    font-weight: 700;
}

.bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#bottom-right-container,
#bottom-left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

#bottom-left-container{
    flex: 3.5;
}

#bottom-right-container{
    flex:1;
}

#bottom-right-container button{
    background-color: #3e92cc;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 2em;
}

button#equal{
    background-color: #D90429;
}

#bottom-left-container button{
    color: #FFFFFF;
    font-size: 2em;
    background-color: #14213D;
}

#bottom-left-row-1,
#bottom-left-row-2,
#bottom-left-row-3,
#bottom-left-row-4{
    display: flex;
}

#zero{
    flex: 1;
}

#AC,
#division{
    flex:1;
}

#bottom-left-container #AC{
    font-size: 1em;
}

#bottom-left-container #division{
    font-size: 1em;
}

.numbers{
    flex: 1;
}

button{
    text-align: center;
    background-color: #8D99AE;
    padding: 0.75em;
    box-shadow: none;
    border: none;
}